root = true

[*]
end_of_line = lf
insert_final_newline = true
max_line_length=120

[*.sh]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

[*.py]
indent_size=2

[*.md]
trim_trailing_whitespace = false
