html, body {
		margin: 0;
		padding: 0;
		background-color:#FFFFFF;
                min-height:600px;
	}

	h1{
		padding-left:37%;
		font-size:16px;
		font-family:arial;
	}

	h2{
		padding-left:20%;
		font-size:14px;
		font-family:arial;
	}

  hr{
    border:none;
    border-top:1px solid black;
    height:0;
  }	

.topframe{
	background-color:#2b2b2b;
	color:#ffffff;
	font-size:12px;
	font-family:Arial;
	margin:0;
	padding: 0;	
}

.newtopframe{
	background-color:#ffffff;
	color:#000000;
	font-size:12px;
	font-family:Arial;
	margin:0;
	padding: 0;	
}


.WNRTitle{
	font-family:Arial;
	padding-top:0px;
        padding-bottom:0px;
	margin-top: 0px;	
	padding-left:15px; 	
	font-weight:bold;
	font-size:12px;
}





.main-page-bottom-table{
	  #padding-left:20px;
	  margin-top:15px;
	  margin-left:20px;
    height:20px;
    width:95%;    
    border-collapse:collapse;
}


.main-page-help-support-text{
	font-family:Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	color:#FFFFFF;
	font-size:14px;
  font-weight:bold;	
	}


.main-page-bottom-text{
	margin:0px;
	font-family:Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	color:#C0C0C0;
	font-size:12px;
  font-weight:Normal;	
  border-left-style:solid;
  border-color:#EEEEEE;
  border-left-width:1px;
}


.main-page-search-go{
  background-image:url(../img/search-go.gif);
  background-repeat:no-repeat;     
  border-style: none;
  background-color:#373737; 
  width:35px;
  margin-left:3px; 
  height:20px;
  font-family:arial;
  color:#ffffff;
  font-weight:bold;
}

.main-page-contain{
  #background-image:url(../frame_back.jpg);
  background-repeat:no-repeat;     
}

.main-page-contain2{
  #background-image:url(../frame_back2.jpg);
  background-repeat:no-repeat;     
}

.main-page-contain-loading{
  background-image:url(../ajax-loader.gif);
  background-repeat:no-repeat;     
  background-position:45% 40%;
}
  
.selectbox{
   background-color:#ffffff;
   color:#373737;
   font-family:Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
   font-weight:bold;
}

div#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}


.pointer-cursor{
  cursor: pointer;
}

.default-cursor{
  cursor: auto;
}  





#top{_width: 1440px; min-width: 820px; height: 97px; position: absolute; left: 20px; right: 20px; }
#topframe{width: 100%; height: 97px; }

#middle{ width: 100%; min-height:455px; _height: 795px; position:absolute; top:5px; bottom:0px; left: 0; right: 0; }

#menu{ float: left; width: 195px; font-family: Arial; font-weight: Bold; font-size: 15px; text-align: left; position:absolute; top:0; bottom:45px;}

#menu .basic_button{margin-bottom: 5px;  width: 190px; height: 29px; background-image:url(../image/menu/basic_menu_white.gif); background-repeat: no-repeat; color: #4e4e4e;cursor:pointer; overflow:hidden;}
#menu .basic_button_big{margin-bottom: 5px;  width: 190px; height: 46px; padding-left:5px; padding-top:5px; background-image:url(../image/menu/basic_menu_white_big.gif); background-repeat: no-repeat; color: #4e4e4e;cursor:pointer;}
#menu .basic_button_big_grey{margin-bottom: 5px;  width: 190px; height: 46px; padding-left:5px; padding-top:5px; background-image:url(../image/menu/basic_menu_grey_big.gif); background-repeat: no-repeat; color: #4e4e4e;cursor:pointer;}
#menu .basic_button_purple{margin-bottom: 5px;  width: 190px; height: 29px; background-image:url(../image/menu/basic_menu_purple.gif); background-repeat: no-repeat; color: #ffffff;}
#menu .basic_button_big_purple{margin-bottom: 5px;  width: 190px; height: 46px; padding-left:5px; padding-top:5px; background-image:url(../image/menu/baisc_menu_white_big_purple.gif); background-repeat: no-repeat; color: #ffffff;}
#menu .basic_button_grey{margin-bottom: 5px;  width: 190px; height: 29px; background-image:url(../image/menu/basic_menu_grey.gif); background-repeat: no-repeat; color: #808080;}

#menu .basic_button span,  #menu .basic_button_purple span, #menu .basic_button_big span, #menu .basic_button_big_purple span, #menu .basic_button_big_grey span{ display:-moz-inline-box; display:inline-block; width:160px; }
#menu .basic_button b, #menu .basic_button_purple b, #menu .basic_button_grey b{margin:auto 5px; line-height:28px;}
#menu .basic_button_big b, #menu .basic_button_big_purple b ,  #menu .basic_button_big_grey b{margin:auto; line-height:22px; width:10px;}

#formframe_div{float: left; min-width: 625px; _width: 1245px; min-height: 410px; _height: 707px; position:absolute; top:0; bottom:45px; left:200px; right: 0; }
.container_center{width:910px; min-width:910px; position:absolute;  top:610px; bottom:0; left: 20px;  right: 20px; }
.footer{ width: 100%;  height: 43px; float: left; color: #ffffff; position:absolute; bottom:0px; }
.footer_double{ width: 100%; height: 86px; color: #ffffff; position:absolute; bottom:0px; }
.footer_img { width: 100%; height: 100%; }
.footer b, .footer_double b{font: bold 16px arial;}
.footer a, .footer_double a{ color: #ffffff; font: normal 11px arial; text-decoration: none;}

.footer #support{ float:left; line-height: 42px; position: absolute; left: 10px; top: 0; }
.footer_double #support{ line-height: 42px; position: absolute; left: 10px; top: 0;}
.footer #search{ float: right; position: absolute; top: 10px; right: 10px;}
.footer_double #search{ float: right; position: absolute; bottom: 10px; right: 10px;}

#footer #search .search_button{background: Transparent url(../img/search_button.gif ) no-repeat; border: none; width:39px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }
#footer #search .search_button_middle{background: Transparent url(../img/search_button_middle.gif ) no-repeat; border: none; width:65px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }
#footer #search .search_button_long{background: Transparent url(../img/search_button_long.gif ) no-repeat; border: none; width:95px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }


