#menu {
	font-size: 12px;
	letter-spacing: -1px;
	margin-top: 2px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

#menu img {
	padding: 0px;
	margin: 0px;
}


#menu table {
	width: 210px;
	border-collapse: collapse;
	border: 1px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	cursor: hand;
}



/* Menu head-title */
#menu td.headtitle {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	font-family: sans-serif;
	color: #555555;
}

/* Head Menu */
#menu tr.title {
	cursor: pointer;
	cursor: hand;
}

#menu tr.titleselected td {
	color: #FF6600;
}

#menu tr.titleselected {
	cursor: pointer;
	cursor: hand;
}

#menu td.title {
	font-weight: bold;
	font-size: 12px;
}


/* Link Menu */
#menu tr.link {
	cursor: pointer;
	cursor: hand;
}

#menu tr.link:hover {
	background: #FF6600;
	cursor: pointer;
	cursor: hand;
}

#menu tr.link:hover td {
	color: #FFFFFF;
	font-weight: bold;
}

#menu tr.linkselected {
	background: #FF6600;
	cursor: pointer;
	cursor: hand;
}

#menu tr.linkselected td {
	color: #FFFFFF;
	font-weight: bold;
}

#menu td.link {
	font-size: 12px;
	cursor: pointer;
	cursor: hand;
}



/* Submenu display none */
#submenu1, #submenu2, #submenu3 {
	display: none;
}


/* Top menu */
#menu td.topleft {
	background: url(../images/menu/topleft.gif) no-repeat left top;
	margin: 0px;
	padding: 0px;
	width: 9px;
	height: 8px;
}

#menu td.top {
	background: url(../images/menu/top.gif) repeat-x top;
	margin: 0px;
	padding: 0px;
	height: 8px;
}

#menu td.topright {
	background: url(../images/menu/topright.gif) no-repeat right top;
	margin: 0px;
	padding: 0px;
	width: 10px;
	height: 8px;
}


/* Cell content */
#menu td.left {
	background: url(../images/menu/left.gif) repeat-y left;
	margin: 0px;
	padding: 0px;
	width: 9px;
}

#menu td.title {
	height: 22px;
	margin: 0px;
	padding: 2px;
	vertical-align: middle;
}

#menu td.link {
	height: 22px;
	margin: 0px;
	padding: 2px;
	padding-left: 15px;
	vertical-align: middle;
}

#menu td.linktools {
	height: 22px;
	margin: 0px;
	padding: 2px;
	font-weight: bold;
	letter-spacing: -1px;
	vertical-align: middle;
}

#menu td.linktoolsselected {
	height: 22px;
	margin: 0px;
	padding: 2px;
	font-weight: bold;
	color: #FF6600;
	letter-spacing: -1px;
	vertical-align: middle;
}

#menu td.right {
	background: url(../images/menu/right.gif) repeat-y right;
	margin: 0px;
	padding: 0px;
	width: 10px;
	height: 9px;
}


/* Line separator */
#menu td.sepleft {
	background: url(../images/menu/leftsep.gif) no-repeat left bottom;
	margin: 0px;
	padding: 0px;
	width: 9px;
	height: 1px;
}

#menu td.sep {
	background: url(../images/menu/sep.gif) repeat-x bottom;
	margin: 0px;
	padding: 0px;
	height: 1px;
}

#menu td.sepright {
	background: url(../images/menu/rightsep.gif) no-repeat right bottom;
	margin: 0px;
	padding: 0px;
	width: 10px;
	height: 1px;
}


/* Big line separator */
#menu td.sepleftbig {
	background: url(../images/menu/leftsepbig.gif) no-repeat left bottom;
	margin: 0px;
	padding: 0px;
	width: 9px;
	height: 40px;
}

#menu td.sepactbig {
	background: url(../images/menu/sepbig.gif) repeat-x bottom;
	margin: 0px;
	padding: 0px;
	height: 40px;
	text-align: right;
	vertical-align: bottom;
	font-size: 11px;
	font-weight: bold;
}



/* Bottom menu */
#menu td.bottomleft {
	background: url(../images/menu/bottomleft.gif) no-repeat left bottom;
	margin: 0px;
	padding: 0px;
	width: 9px;
	height: 12px;
}

#menu td.bottom {
	background: url(../images/menu/bottom.gif) repeat-x bottom;
	margin: 0px;
	padding: 0px;
	height: 12px;
}

#menu td.bottomright {
	background: url(../images/menu/bottomright.gif) no-repeat right bottom;
	margin: 0px;
	padding: 0px;
	width: 10px;
	height: 12px;
}

