form{margin:0;padding:0}
.leftLink{font-family:Arial,Helvetica,sans-serif;font-size:10.5px;line-height:15px;font-weight:bold;color:#003366;text-decoration:none}
.top{FONT:bold 9pt Arial,Helvetica,sans-serif;}
.top_nav{font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#000000;text-decoration:none}
.section{font:caption;font-size:11px;font-stretch:normal;text-indent:inherit;text-align:center;text-decoration:line-through;text-transform:capitalize;color:white}
.head_bold{font-family:Arial,Helvetica,sans-serif;font-size:17px;line-height:15px;font-weight:bold;color:#0000ff;text-decoration:none}
.body{FONT:9pt Arial,Helvetica,sans-serif;COLOR:#003366}
.help{FONT:9pt Arial,Helvetica,sans-serif;COLOR:#000000}
.bbody{FONT:9pt Arial,Helvetica,sans-serif;COLOR:#000000}
.textbody{FONT:8pt Arial,Helvetica,sans-serif;COLOR:#000000}
.test{font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px;color:#000000}
.wbody{FONT:9pt Arial,Helvetica,sans-serif;COLOR:#ffffff}
a{FONT:bold 9pt Arial,Helvetica,sans-serif;text-decoration:none;color:#003366}
.copy_1{font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:14px;color:#003366}
.copy_2{font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px;color:#000000}
.submitBtn{font-family:Arial,Helvetica,sans-serif;font-size:11px;border-color:#cccccc;background-color:#cccccc;color:#000000}
a:active{color:#ffff00;text-decoration:none;}
a:visited{color:#000000;text-decoration:none;}
a:hover{text-decoration:underline;color:#0000ff}
.Menu_leftLink{font-family:Arial,Helvetica,sans-serif;font-size:8pt;color:#cccccc;text-decoration:none;}
.Menu_top_nav{font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#FFFFFF;text-decoration:none}
.Menu_section{FONT:bold 8pt Arial,Helvetica,sans-serif;text-decoration:none;}
.Menu_head_bold{font-family:Arial,Helvetica,sans-serif;font-size:17px;line-height:15px;font-weight:bold;color:#000000;text-decoration:none}
.Menu_copy_1{font-family:Arial,Helvetica,sans-serif;font-size:10px;line-height:14px;color:#003366}
.Menu_submitBtn{font-family:Arial,Helvetica,sans-serif;font-size:10px;border-color:#666262;background-color:#666262;color:#ffffff}
a.menuharf{FONT:8pt Arial,Helvetica,sans-serif;text-decoration:none;color:#cccccc}
a.menuharf:link{color:#cccccc;font-size:8pt;font-family:Arial,Helvetica,sans-serif;text-decoration:none;}
a.menuharf:visited{color:#cccccc;font-size:8pt;font-family:Arial,Helvetica,sans-serif;text-decoration:none;}
a.menuharf:active{color:#cccccc;font-size:8pt;text-decoration:none;}
a.menuharf:hover{text-decoration:underline;color:#0000ff}
.tdTitle{background-color:#666262;color:#003399;color:#ffffff}
.tdText{background-color:#cccccc;}
.top_nav{font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#000000;text-decoration:none}
.leftLink{font-family:Arial,Helvetica,sans-serif;font-size:10.5px;line-height:15px;font-weight:bold;font-color:#000000;text-decoration:none}
.head_bold2
{font-family:Arial,Helvetica,sans-serif;color:#003366;font-weight:bold;font-size:10pt;}
input,select
{color:#003366;font-family:Arial,Helvetica,sans-serif;font-size:8pt;}
.info_table
{font-size:8pt;}
.info_table caption
{color:#003366;font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:9pt;text-align:left;margin-bottom:5px;}
.info_table th
{color:#FFFFFF;background-color:#666262;}
.member_list tr
{height:24px;}
.info_table td
{color:#000000;background-color:#b4b2b2;}
.caption
{margin:5px;clear:left;}
.caption label
{width:180px;margin-left:5px;margin-top:5px;float:left;font-weight:bold;}
.popup_base
{position:absolute;background-image:url('/images/popup_bg.gif');background-repeat:repeat;width:100%;height:100%;display:block;overflow:hidden;visibility:hidden;z-index:500;left:0px;top:0px;}
.popup_panel
{position:absolute;border:5px double #0099FF;padding:10px;background-color:#FFF;width:500px;z-index:600;}
.ip_panel input
{width:30px;margin:2px;}
.mac_panel input
{width:20px;margin:2px;}